c_blue_1 = #00477A;
c_blue_2 = #2368A0;
c_blue_3 = #4A8AC1;
c_blue_4 = #75AEDC;
c_blue_5 = #A7D2F1;

c_red_1 = #821B0D;
c_red_2 = #B13631;
c_red_3 = #D75B5B;
c_red_4 = #F18788;
c_red_5 = #FDB9B0;

c_green_1 = #1E5124;
c_green_2 = #337331;
c_green_3 = #509453;
c_green_4 = #77B479;
c_green_5 = #A8D4A1;

c_yellow_1 = #664400;
c_yellow_2 = #8A6318;
c_yellow_3 = #AD8536;
c_yellow_4 = #D0A95C;
c_yellow_5 = #F2CE88;

c_grey_1 = #353131;
c_grey_2 = #5E5959;
c_grey_3 = #8A8585;
c_grey_4 = #B7B4B4;
c_grey_5 = #E6E5E5;

c_steel = #DFE2E6;
