.sans {
  font-family: 'calluna-sans', Helvetica Neue, Helvetica, sans-serif;
}
.serif {
  font-family: 'kepler-std', Georgia, serif;
}
.serif-display {
  font-family: 'kepler-std-display', Georgia, serif;
  text-rendering: optimizeLegibility;
}

body {
  @extend .serif;
  font-size: 20px;
  line-height: 28px;
  color: #222;
}

h1, h2, h3 {
  @extend .serif-display;
}

h1 {
  font-style: italic;
  font-size: 60px;
  line-height: 60px;
}

.major {
  font-size: 10vw;
  line-height: 14vw;
}

.intro-text, .section-text {
  margin: 10px;
  min-width: 300px;
  max-width: 500px;
}

p + p,
ul + p,
h1 + p, h2 + p, h3 + p {
  margin-top: 1em;
}

ul {
  @extend .sans;
  margin-left: 1em;
  list-style: initial;
  font-size: 16px;
  line-height: 22px;
  li {
    margin-left: 1em;
  }
}

.credits {
  @extend .sans;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
